<div class="game">


<% if @game.whose_turn==session[:player_name] && !@game.game_over? %>
<h3><%=session[:player_name]%>, it's your turn! Just click a square to place your mark!</h3>
<% elsif @game.game_over? && @game.winner.nil? %>

<h3>The game is over!</h3>
<h3>The game was a draw</h3>
<% elsif @game.game_over? %>
<h3>The winner is <%= @game.winner %></h3>

<% else %>

<h3> It's not your turn just yet. <a href="/game">Refresh</a> the page to get an update</h3>

<% end %>


<h4 class="game">Your symbol is <%=@game.player_mark_from_name(session[:player_name])%></h4>

<div class="board">


<% [0,1,2,3,4,5,6,7,8].each_slice(3) do |row| %>
	<form action="/game" method="post" class="board">
	<div class="row">
	<% row.each do |x| %>
		<input type="radio" id='<%=x%>' onclick="this.form.submit();" name="cell_to_fill" class="cell" value='<%= x%>' <%= "disabled" if @game.board.cell_filled?(x) || @game.whose_turn != session[:player_name] || @game.game_over?%>>
		<label for='<%=x%>' class='cell <%=@game.board.check_cell(x)%>'></label>
	<% end %>
	</div>
<% end %>
	</form>

</div>



